<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
  <title>Who We Are? What's Our Mission?</title>
  <link href="/assets/css/other.css" rel="stylesheet"/>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/img/up-arrow.png" style="width:34px;" /></button>


<main>
  <% items.forEach(function(item) { %>
    <section  style="padding-top:70px;">
        <div style="width:100%; text-align:center;">
            <div class="container">
              <div class="module">
                <div class="module-inside">
                <h1 class="innerTitle">
               <%= item.aboutTitle%></h1>
                </div>
              </div>
             
             
              
            </div>
            <div class="container content">
              <p class="lead">
                <%=item.aboutContent %>
              </p>
             </div>
           
          </div>
    </section>
    <% }) %>

       
</main>



<footer >
  <%- include('partials/footer'); %>
</footer>
</body>
</html>