<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
   <title> <%= image.name %> | Download Image Now</title>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
	.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}


  </style>
  <link href="/assets/css/product.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
 
<header>
  <%- include('partials/header'); %>
</header>


<main>
 
	
	
   <section class="content-item grey"  style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container product" >
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   <% 
	      const tag= image.tags;

	     if(typeof tag !== 'undefined') { 
         tag.forEach(function(image) { 
				%>
					<span class="tagText"><%=image.toLowerCase();%></span>
				 
			   <% })  }%>
          <span class="tagT">No Tags</span>

          
			   
              <img src="<%= image.profilePhotoLocation %>" title="<%=image.name %>"  
              class="img-responsive"  alt="<%= image.description %>">
             
			</div>
      
            <div class="col-sm-4" style="margin-top:7rem;">
               
           <div class="boxx" id="toper">
		
           <!-- AddToAny BEGIN -->
          <div  class="a2a_kit a2a_kit_size_50 a2a_default_style" >
            <a class="btn" id="downloadImage"href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
              class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
              <br>
              <i class="bi bi-download" > </i>&nbsp;    Download
            </a>
            <a class="a2a_dd"  href="https://www.addtoany.com/share"></a>
            <button   class="like__btn">
              <span id="icon">
                <img width="26px"  src="/assets/img/heart.png" /></span>
                
           </button> 
         
           
           
        </div>
        

         <script async src="https://static.addtoany.com/menu/page.js"></script>
         <!-- AddToAny END -->
				</div>
        
         <div class="inputs">
          <form class="form" id="form" action="">

            <input  type="radio" id="1080"  name="1920" value="1080">
                 <label for="1080">1080p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PNG</label><br>
            <input type="radio" id="2K" name="2048" value="1080">
                   <label for="2K">2K &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; PNG </label><br>
            <input type="radio" id="4K"  name="3840" value="2160">  
                 <label for="4K">4K &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; PNG</label><br>
            <input type="radio" id="8K" name="7680" value="4320"> 
                 <label for="8K">8K &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; PNG</label><br>
          </form>
          <button class="view" class="fancybox" type="submit" id="preview">Preview</button>
          <button class="view downn" id="down">Download</button>
      
          
        <div class="canvasWrapper">
          
          <canvas id="result">
            <img crossorigin="anonymous"  src="<%= image.profilePhotoLocation %>" id="imgDisplayed" alt="">
          </canvas>
        
        </div>
      </div>
       

				<div class="boxTwo">	
                   <ul class="list-unstyled">
                    
                        <li>Description:                  <%=image.description%></li>
                        <li>Image Type :                  <%= image.imgType%></li>
                        <li>Resolution :                  <%= image.resolution%></li>
                        <li>Downloads :                  </li>
                      
                        
                        
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>



            
        </div>
        
      
       
         
       
          <div class="tile" style="margin-left:20px;">
            <h3>Related Pictures</h3>
           </div>
      
        <div class="grid image-grid" >
         
           
           <%  if(items !== undefined && typeof items !== 'undefined') { items.forEach(function(image) { %>
          <div class="grid-block">
            <div class="tile">
              <a class="tile-link" href="/photos/<%= image.slug%>">
                <!-- <% if(image.resolution=='3840x2160'){ %>
                  <div class="badge bg-dark text-white fourK" >  4K  </div>
                  <% } else { %>
                   
                  <div> </div>
                      <% }%> -->
                  
                      
                <img class="tile-img imgs" title="<%=image.name %>"   alt="<%= image.description %>"
                        src="<%= image.profilePhotoLocation%>" />
              
                <p > <%= image.name%> </p>
              </a>
              
            </div>
               
          </div>
        <% })  } else { %>
                <div></div>
                <% } %>
      
       </div>



   
    

  
    </div>
  </section>
  
</main>



<footer>
   <%- include('partials/footer'); %>
</footer>
      
`
 
  
<script>
    



   function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
   }


  

	$(document).ready(function(){
     $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
   });

   var a2a_config = a2a_config || {};
  a2a_config.onclick = false;
  a2a_config.color_bg = "#1E1E1E";
  a2a_config.icon_color = "#1E1E1E,white";
  



  const likeBtn = document.querySelector(".like__btn");
let likeIcon = document.querySelector("#icon"),
  count = document.querySelector("#count");

let clicked = false;


likeBtn.addEventListener("click", () => {
  if (!clicked) {
    clicked = true;
    
      likeIcon.innerHTML = `<img width="26px"  src="https://cdn-icons-png.flaticon.com/512/210/210545.png"/>`;
     count.textContent++;
    
      likeIcon.innerHTML = `<img width="26px"  src="https://cdn-icons-png.flaticon.com/512/210/210545.png"/>`;
 
    
 
  } else {
    clicked = false;
    likeIcon.innerHTML = `<img width="26px" src="/assets/img/heart.png" />`;
    count.textContent--;
  }
});



  </script>
 
   


</body>
</html>