<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
   <title> <%= image.name %> | Download Image Now</title>

   
  <style>
	.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}


  </style>
  <link href="/assets/css/product.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
 
<header>
  <%- include('partials/header'); %>
</header>


<main>
 
	
	
   <section class="content-item grey"  style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container">
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   <% 
	      const tag= image.tags
	     if(typeof tag !== 'undefined') { 
         tag.forEach(function(image) { 
				%>
					<span class="tagText"><%=image%></span>
				 
			   <% })  }%>
          <span class="tagT">No Tags</span>

          
			   
              <img src="<%= image.profilePhotoLocation %>" title="<%=image.name %>"  
              class="img-responsive"  alt="<%= image.description %>">
             
			</div>
      
            <div class="col-sm-4" style="margin-top:7rem;">
               
           <div class="boxx" id="toper">
		
           <!-- AddToAny BEGIN -->
          <div  class="a2a_kit a2a_kit_size_50 a2a_default_style" >
            <a class="btn" id="downloadImage"href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
              class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
              <br>
              <i class="bi bi-download" > </i>&nbsp;    Download
            </a>
            <a class="a2a_dd"  href="https://www.addtoany.com/share"></a>
            <button   class="like__btn">
              <span id="icon">
                <img width="26px"  src="/assets/img/heart.png" /></span>
                
           </button> 
         
            
           
        </div>
         <script async src="https://static.addtoany.com/menu/page.js"></script>
         <!-- AddToAny END -->
				</div>
        
				<div class="boxTwo">	
                   <ul class="list-unstyled">
                    
                        <li>Description:                  <%=image.description%></li>
                        <li>Image Type :                  <%= image.imgType%></li>
                        <li>Resolution :                  <%= image.resolution%></li>
                        <li>Downloads :                  </li>
                      
                        
                        
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>
            
        </div>
        
      
        <div class="container img-content" >
          <h3>Related Pictures</h3>
          <div style="text-align:center;" class="row" >
            
              <% items.forEach(function(image) { %>
                  
               <div class="col-md-3 col-md-4 col-xs-6  shrink ">
                  <a style="margin-left:-45px;"  href="/photos/<%= image.name %>" class="fancybox" rel="ligthbox">
                  
                  <% if(image.imgType=='image/png'){ %>
                  <div class="badge bg-dark text-white fourK" >  4K  </div>
                  <% } else { %>
                   
                  <div> </div>
                      <% }%>
                  <img title="<%=image.name %>"  class="imgs"  alt="<%= image.description %>"
                  src="<%= image.profilePhotoLocation%>" />
              </a> 
          
              <p> <%= image.name%> </p>
              </div>
          <% }) %>  
          </div>
        </div>
        
     
      
  
    </div>
  </section>
  
</main>



<footer>
   <%- include('partials/footer'); %>
</footer>
      
`
 
  
<script>
    



   function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
   }


  

	$(document).ready(function(){
     $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
   });

   var a2a_config = a2a_config || {};
  a2a_config.onclick = false;
  a2a_config.color_bg = "#1E1E1E";
  a2a_config.icon_color = "#1E1E1E,white";
  



  const likeBtn = document.querySelector(".like__btn");
let likeIcon = document.querySelector("#icon"),
  count = document.querySelector("#count");

let clicked = false;


likeBtn.addEventListener("click", () => {
  if (!clicked) {
    clicked = true;
    
      likeIcon.innerHTML = `<img width="26px"  src="https://cdn-icons-png.flaticon.com/512/210/210545.png"/>`;
     count.textContent++;
    
      likeIcon.innerHTML = `<img width="26px"  src="https://cdn-icons-png.flaticon.com/512/210/210545.png"/>`;
 
    
 
  } else {
    clicked = false;
    likeIcon.innerHTML = `<img width="26px" src="/assets/img/heart.png" />`;
    count.textContent--;
  }
});



  </script>
 
   


</body>
</html>