<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
   <title> Detail  </title>

  <style>
	body{
        background-color:#1E2023 ;
        color:white;
    }


    /**Gallery*/
    .content-item {
    padding:30px 0;
	background-color:#1E2023;
}

.content-item.grey {
	background-color:#1E2023;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#1E2023;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#1E2023;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}

/* BOXES */


.box {
	margin-top:7rem;
	padding:14px;
	background-color: rgba(0,0,0,0.28);
	
}
.unbox
{
	margin-top:3.7rem;
	padding:14px;
	background-color: rgba(0,0,0,0.28);
}
.boxTwo{
	padding:14px;
	background-color: rgba(0,0,0,0.28);
	margin-top:0.75rem;
	
}

.tagText{
	padding:7px;
	background-color:#464749;
	border-radius:0.1rem;
	margin-right:5px;
}

.box h3 {
    margin:30px 0 5px;
	font-weight:bold;

}

.box ul {
	margin:0;
}

.box ul li {
	font-size:13px;
	padding:10px 0;
	font-weight:600;
}

.box ul li:last-child {
	border-bottom:0;
}

.box ul li i {
	font-size:18px;
	margin-right:20px;
}

.box.categories ul li i {
	color:#BBBBBB;	
	position:relative;
	top:2px;
	width:20px;
}

.posts ul li a {
	font-size:14px;
	line-height:23px;
}

.posts ul li a:hover {
	color:#333333;	
}

.posts ul li div {
	font-size:13px;
	color:#999999;
	font-weight:bold;
	text-align:right;
	margin-top:5px;
}

.box.posts ul li i {
    color:#333333;
    font-size:14px;
    margin-right:10px;
}

.box.tags ul.blog-tags li {
	border:0;
}

ul.blog-tags li {
	padding:7px 0;
}

div ul.blog-tags li i,
div .box.tags ul li i {
	color:#FFFFFF;
	position:relative;
	top:1px;
	font-size:14px;
}

#gallery .row {
    margin:0;
}

#gallery .row > div {
	padding:0;
}

#gallery .overlay-wrapper:hover .overlay {
	background-color:rgba(0,0,0,0.7);
}

#gallery-item h2 {
	font-size:17px;
	margin-top:0;
}

#gallery-item img {
	padding:7px;   
    background-color: rgba(0,0,0,0.28);
}
.img-responsive{
	margin-top:1rem;
	width:60rem;
}
@media(max-width:767px){
	.img-responsive{
		width:28rem;
		padding:8px;
	}
}
  </style>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/img/up-arrow.png" style="width:34px;" /></button>


<main>
 
	<% 
	const tag= image.tags
	if(typeof tag !== 'undefined') {  %>

	
   <section class="content-item grey" style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container">
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   
			   <%  tag.forEach(function(image) { 
				%>
					<span class="tagText"><%=image%></span>
				 
			   <% }) %>
			   
              <img src="<%= image.profilePhotoLocation %>" class="img-responsive" alt="">
             
			</div>
            <div class="col-sm-4">
               
                <div class="box">
		
					<a class="btn" id="downloadImage" style="width:11rem;" href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
						class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
						<i class="bi bi-download" ></i>    Download
					</a> 


					<a href="https://twitter.com/intent/tweet?url=/product/<%=image.name%>" style=" padding:10px;width:50px;">
						<img width="50px" style="border-radius:4px;" src="/img/twitter.png" /> 
					  </a>
					  <a href="javascript:;" style="padding:10px;width:50px;" >
						<img width="50px" style="border-radius:4px;" src="/img/heart.png" />
					</a>

				</div>
				<div class="boxTwo">	
                   <ul class="list-unstyled">
                        <li>Description : <%=image.desc%></li>
                        <li>Image Type : <%= image.imgType%></li>
                        <li>Resolution : <%= image.resolution%></li>
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>
        </div>
    </div>
  </section>
  <% }  else { %>

    
   <section class="content-item grey" style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container">
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   
			   
              <img src="<%= image.profilePhotoLocation %>" class="img-responsive" alt="">
             
			</div>
            <div class="col-sm-4">
               
                <div class="unbox">
		
					<a class="btn" id="downloadImage" style="width:11rem;" href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
						class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
						<i class="bi bi-download" ></i>    Download
					</a> 


					<a href="https://twitter.com/intent/tweet?url=/product/<%=image.name%>" style=" padding:10px;width:50px;">
						<img width="50px" style="border-radius:4px;" src="/img/twitter.png" /> 
					  </a>
					  <a href="javascript:;" style="padding:10px;width:50px;" >
						<i  onclick="myFunction(this)" class="bi bi-heart"></i>
						<img width="50px" style="border-radius:4px;" src="/img/heart.png" />
					</a>

				</div>
				<div class="boxTwo">	
                   <ul class="list-unstyled">
                        <li>Description : <%=image.desc%></li>
                        <li>Image Type : <%= image.imgType%></li>
                        <li>Resolution : <%= image.resolution%></li>
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>
        </div>
    </div>
  </section>


  <% }%>


</main>




      <footer>
        <%- include('partials/footer'); %>
      </footer>
      

 
  
  <script>
    
   function myFunction(x) {
  x.classList.toggle("heart-fill");
   }

  

	$(document).ready(function(){
     $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
   });
  </script>
 
   


</body>
</html>