<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
   <title> <%= image.name %> | Download Now</title>

  <style>
	
  </style>
  <link href="/assets/css/product.css" rel="stylesheet"/>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/img/up-arrow.png" style="width:34px;" /></button>


<main>
 
	<% 
	const tag= image.tags
	if(typeof tag !== 'undefined') {  %>

	
   <section class="content-item grey"  style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container">
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   
			   <%  tag.forEach(function(image) { 
				%>
					<span class="tagText"><%=image%></span>
				 
			   <% }) %>
			   
              <img src="<%= image.profilePhotoLocation %>" class="img-responsive" alt="">
             
			</div>
            <div class="col-sm-4">
               
                <div class="box">
		
					<a class="btn" id="downloadImage" style="width:11rem;" href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
						class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
						<i class="bi bi-download" ></i>    Download
					</a> 


					<a href="https://twitter.com/intent/tweet?url=/product/<%=image.name%>" style=" padding:10px;width:50px;">
						<img width="50px" style="border-radius:4px;" src="/img/twitter.png" /> 
					  </a>
					  <a href="javascript:;" style="padding:10px;width:50px;" >
						<img width="50px" style="border-radius:4px;" src="/img/heart.png" />
					</a>

				</div>
				<div class="boxTwo">	
                   <ul class="list-unstyled">
                        <li>Description : <%=image.desc%></li>
                        <li>Image Type : <%= image.imgType%></li>
                        <li>Resolution : <%= image.resolution%></li>
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>
        </div>
    </div>
  </section>
  <% }  else { %>

    
   <section class="content-item grey" style="padding-top:5.5rem;padding-bottom:10rem;" id="gallery-item">
    <div class="container">
      <div class="row">
          <div class="col-sm-8" >
			 
			   <h2><%=image.name%></h2>
			   
			   
              <img src="<%= image.profilePhotoLocation %>" class="img-responsive" alt="">
             
			</div>
            <div class="col-sm-4">
               
                <div class="unbox">
		
					<a class="btn" id="downloadImage" style="width:11rem;" href="<%= image.profilePhotoLocation %>"  download="<% image.address%>"rel="nofollow" onclick="_reg()" 
						class="block-gradient graHover dlbtn ga-click cate-5" data-ga-type="button" data-ga-label="5" > 
						<i class="bi bi-download" ></i>    Download
					</a> 


					<a href="https://twitter.com/intent/tweet?url=/product/<%=image.name%>" style=" padding:10px;width:50px;">
						<img width="50px" style="border-radius:4px;" src="/img/twitter.png" /> 
					  </a>
					  <a href="javascript:;" style="padding:10px;width:50px;" >
						<i  onclick="myFunction(this)" class="bi bi-heart"></i>
						<img width="50px" style="border-radius:4px;" src="/img/heart.png" />
					</a>

				</div>
				<div class="boxTwo">	
                   <ul class="list-unstyled">
                        <li>Description : <%=image.desc%></li>
                        <li>Image Type : <%= image.imgType%></li>
                        <li>Resolution : <%= image.resolution%></li>
                    </ul>

					<a class="fancybox" class="btn btn-normal show-image" rel="chimps" href="<%=image.profilePhotoLocation%>">Full Size</a>
 
                </div>
				
            </div>
        </div>
    </div>
  </section>


  <% }%>


</main>




      <footer>
        <%- include('partials/footer'); %>
      </footer>
      

 
  
  <script>
    
   function myFunction(x) {
  x.classList.toggle("heart-fill");
   }

  

	$(document).ready(function(){
     $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
   });
  </script>
 
   


</body>
</html>