<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
   <title> User Profile  </title>


   <style>
    body{
      margin-top:5rem;
    }
    .img-responsive{
        clip-path:circle();
        width:16rem;
    }
    .icons-list{
    list-style-type: none;    
}   
   </style>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/img/up-arrow.png" style="width:34px;" /></button>


<main>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippets bootdey">
      <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="thumbnail">
            <img src="/assets/img/user.png"  alt="Profile Picture">
          </div> <!-- /.thumbnail -->
          <br>
          <div class="list-group">  
            
            <a href="#liked" class="list-group-item">
              <i class="fa-solid fa-image"></i> &nbsp;&nbsp; Liked Pictures
              <i class="fa fa-chevron-right list-group-chevron"></i>
              <span class="badge"></span>
            </a> 
          
    
          </div> <!-- /.list-group -->
        </div> <!-- /.col -->
  
  
        <div class="col-md-8 col-sm-7">
          <h2><%=user.username%></h2>
          
          <hr>
         
          <ul class="icons-list">
            <li><i class="icon-li fa fa-envelope"></i><%=user.email%></li>
            <a href="/forget"><li><i class="icon-li fa fa-globe"></i><%= user.password%></li> </a>
          </ul>
          <br>
         
          <hr>
          <div id="liked">
             
         </div>
        </div>
      </div>
    </div>
  </div>                                                            

</main>




      <footer>
        <%- include('partials/footer'); %>
      </footer>
      

 
  
  <script>
    
   function myFunction(x) {
  x.classList.toggle("heart-fill");
   }

  

	$(document).ready(function(){
     $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
   });
  </script>
 
   


</body>
</html>