<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
  <title>Terms Of Use</title>
  <style>
    body{
        background-color:#1E2023 ;
        color:white;
    }
    .contact-image {
  height:170px;
  width:100%;
  background-size:cover;
  }
  </style>
</head>
<body>

  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/img/up-arrow.png" style="width:34px;" /></button>

<header>
  <%- include('partials/header'); %>
</header>

<main >
  <% items.forEach(function(item) { %>
    <section class="vh-100" style="padding-top:70px;">
        <div style="width:100%; text-align:center;">
            <div class="container">
              <h1 style="font-size:28px; background-color:rgba(0,0,0,0.28);padding:10px" >
                <%= item.termsofuseTitle%></h1>
              <p style="padding:8px; background-color:rgba(51,50,51,1);"class="lead">
                <%=item.termsofuseContent %>
              </p>
            </div>
          </div>
    </section>
    <% }) %>

</main>


<footer >
  <%- include('partials/footer'); %>
</footer>
</body>
</html>